.header {
  @include d-flex;
  &_link {
    display: flex;
    gap: 24px;
    align-items: center;
    a {
      color: var(--grey-90, #e6e6e6);
      font-size: 14px;
      font-weight: 500;
      line-height: 150%;
    }
    &_a {
      padding: 12px 18px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 6px;
      background: var(--grey-15, #262626);
    }
  }
  &_button {
    &_btn1 {
      display: flex;
      padding: 12px 18px;
      align-items: center;
      border-radius: 6px;
      background: var(--green-50, #9eff00);
      color: var(--grey-15, #262626);
      font-size: 14px;
      font-weight: 500;
      line-height: 150%;
    }
  }
}
